.stadium-card-container{
    padding: 10px;
    display: flex;
    flex-direction: column;
    border-radius: 20px;
    background-color: #222222;
    width: 280px;
    margin-bottom: 50px;
}

.stadium-card-container:hover{
    transition: 0.2s ease-in-out;
    transform: scale(1.01);
}

.stadium-card-image-container{
    margin-bottom: 20px;
}

.stadium-card-image-container img{
    height: auto;
    width: 100%;
    border-radius: 20px;
    border: 1px solid #96FC58;
}

.stadium-card-content-container h3{
    color: #96FC58;
    font-size: 22px;
    text-shadow: 5px 5px 5px black;
    margin-bottom: 10px;
}

.stadium-card-content-container p {
    color: white;
    text-shadow: 5px 5px 5px black;
    margin-bottom: 5px;
    font-size: 18px;
}

.stadium-card-teams img{
    height: 50px;
}

@media(min-width:1200px){
    .stadium-card-container{
        padding: 20px;
        display: flex;
        flex-direction: row;
        border-radius: 20px;
        background-color: #222222;
        width: 700px;
        margin-bottom: 50px;
    }
    
    .stadium-card-container:hover{
        transition: 0.2s ease-in-out;
        transform: scale(1.01);
    }

    .stadium-card-image-container{
        margin-bottom: 0px;
    }
    
    .stadium-card-image-container img{
        height: 250px;
        width: 300px;
        border-radius: 20px;
        border: 1px solid #96FC58;
    }
    
    .stadium-card-content-container{
        margin-left: 30px;
    }
    
    .stadium-card-content-container h3{
        color: #96FC58;
        font-size: 25px;
        text-shadow: 5px 5px 5px black;
        margin-bottom: 10px;
    }
    
    .stadium-card-content-container p {
        color: white;
        text-shadow: 5px 5px 5px black;
        margin-bottom: 5px;
        font-size: 18px;
    }
    
    .stadium-card-teams img{
        height: 80px;
    }
}