.team-card-container{
    padding: 30px 40px;
    display: flex;
    flex-direction: column;

    border-radius: 50px;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.25);
    background-color: #161616;
    width: 520px;
    margin-bottom: 50px;
}

.team-card-container:hover{
    transform: scale(1.02);
    transition: 0.2s ease-in-out;
}

.team-card-image-container{
    display: flex;
    align-items: center;
    justify-content: center;
}

.team-card-image-container img{
    height: 300px;
}

.team-card-title h3, .team-card-stadium-container h4 {
    color: #96FC58;
    text-shadow: 5px 5px 5px black;
}

.team-card-stadium-container h4:hover{
    color: aqua;
}

.team-card-content-container p {
    color: white;
    text-shadow: 5px 5px 5px black;
}

.team-card-cups{
    display: flex;
    flex-direction: row;
    align-items: center;
    flex-wrap: wrap;
    margin-bottom: 15px;
}

.team-card-cups p{
    margin-bottom: 0;
    margin-right: 5px;
}